body {
    background: #f5f7fa;
    background-image: linear-gradient(120deg, #d0eaff 0%, #f5f7fa 100%);
    font-family: "Trebuchet MS", sans-serif;
    color: #333;
}
.myself {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  background: linear-gradient(135deg, #52a2ed, #f0f8ff);
  border: 4px solid white;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(78, 145, 221, 0.553);
  margin: 2rem auto;
  max-width: 900px;
}

h1, h2 {
    font-family: "Trebuchet MS", sans-serif;
    color: #1e73e2d3;
}

img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid white;
    box-shadow: 0 0 8px rgba(221, 145, 78, 0.553);
}


.about, .hobbies, .contact {
    background-image: linear-gradient(120deg, #eba35aa0 0%, #f0dfcda0 100%); 
    backdrop-filter: blur(5px);
    border: 4px solid white;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(221, 145, 78, 0.553);
    padding: 30px;
    margin: 50px auto;
    width: 95%;
}

.emoji {
    list-style: none;
    padding-left: 0;
}

.emoji li::before {
    content: "❄️";
    margin-right: 10px;
}

a {
    color: #1e73e2d3;
    text-decoration: none;
}

a:hover {
    color: #e87917;
    text-decoration: underline;
    background-color: rgb(255, 255, 255);
}

